<!DOCTYPE html>

<html>
  <head>
    <title> Landing Page </title>
  </head>
  <body>
    {% if loggedin == 1 %}
    Welcome back, {{username}}.

    <form action="/logout" method="post">
      <input type="submit" name="Submit" value="Log Out">
    </form>
    {% else %}
    <form action="/login" method="post">
      <input type="submit" name="Submit" value="Log In">
    </form>
    <br>
    <form action="/register" method="post">
      <input type="submit" name="Submit" value="Register">
    </form>
    {% endif %}
  </body>
</html>
